<!DOCTYPE html>
<html ng-app="app" ng-controller="MainController">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{'TITLE' | translate}}</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="node_modules/angular-chart.js/dist/angular-chart.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav {{$route.current.scope.activeTab}}">
                <li><a href="#/home" class="home">{{ 'HOME' | translate }}</a></li>
				<li><a href="#/sensors" class="sensors">{{ 'SENSORS' | translate }}</a></li>
				<li><a href="#/measurementsList" class="measurements">{{ 'MEASUREMENT' | translate }}</a></li>
            </ul>
        </div>
		<div id="languages" ng-controller="navController as navCtrl">
			<img ng-src="img/flag_pl.gif" ng-class="navCtrl.plClass" ng-click="navCtrl.changeLanguagePl()" alt="{{ 'BUTTON_TEXT_DE' | translate}}"></img></li>
			<img ng-src="img/flag_en.gif" ng-class="navCtrl.enClass" ng-click="navCtrl.changeLanguageEn()" alt="{{ 'BUTTON_TEXT_DE' | translate}}"></img></li>
		</div>
    </div>
</nav>

<div class="container">
	<div id="content" class="view-frame" role="main" ng-view></div>
</div>

<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="node_modules/angular-resource/angular-resource.js"></script>
<script src="node_modules/chart.js/Chart.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="node_modules/ng-table/ng-table.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/controllers/sensors.js"></script>
<script src="js/controllers/navigation.js"></script>
<script src="js/controllers/measType.js"></script>
<script src="js/controllers/measurements.js"></script>
<script src="js/controllers/measurementsList.js"></script>
<script src="js/controllers/home.js"></script>
<script src="js/services/sensor.js"></script>
<script src="js/services/measurements.js"></script>
<script src="js/services/measurementsList.js"></script>
</body>
</html>