<div class="page-header">
    <h1>{{ 'HOME_TEXT' | translate }}</h1>
</div>

<h2><a href="/#/sensors">Sensors</a></h2>
<!--<table ng-table="sensorTable" show-filter="false" class="table table-stripped table-hover">-->
	<!--<tr ng-repeat="sensor in $data">-->
		<!--<td data-title="'ID'" sortable="'id'" filter="{ 'name': 'text' }">{{sensor.id}}</td>-->
		<!--<td data-title="'CPU Usage'" sortable="'cpuUsage'" filter="{ 'href': 'text' }">{{sensor.cpuUsage}}%</td>-->
		 <!--<td data-title="'RAM Usage'" sortable="'ramUsage'" filter="{ 'ramUsage': 'text' }">{{sensor.ramUsage}} MB</td> -->
	<!--</tr>-->
<!--</table>-->
