<style>
	.glyphicon {
		float: right;
		display: inline;
	}
	h3 {
		display: inline;
		float: left;
	}
	.measurements > div{
		clear: both;
	}
	
	</style>

<h2>Sensor - {{ sensorName }} {{ sensorId }}: measurements</h2>

<div class="measurements">
	
	<div ng-repeat="type in ['CPU', 'MEMORY', 'NETWORKUP', 'NETWORKDOWN'] track by $index">
		<h3>{{type}} measurements</h3>
		
		<button class="btn btn-default glyphicon glyphicon-th-list" 
			ng-click="flags[type].tableShow = !flags[type].tableShow" ng-class="{'active':flags[type].tableShow}"></button>
		<button class="btn btn-default glyphicon glyphicon-stats" 
			ng-click="flags[type].chartShow = !flags[type].chartShow" ng-class="{'active':flags[type].chartShow}"></button>

		<div class="col-lg-6 col-sm-12" style="clear: both;" ng-show="flags[type].chartShow">
			<canvas ng-if="data[type]" id="line-chart-memory" class="chart chart-line" legend="true"
					data="data[type]" labels="labels[type][0]" series="series[type]">
			</canvas>
			
			<button class="btn btn-default" ng-repeat="n in [0, 5, 10, 25, 50] track by $index"
			ng-click="changeAmountOfData(n, type)" ng-class="{'active':data[type][0].length == n}">
				<span>{{n == 0 ? 'All' : n}}</span>
			</button>
		
		</div>
		
		<div class="col-lg-6 col-sm-12" ng-show="flags[type].tableShow" ng-class="{'clearBoth':!flags[type].chartShow}">
			<table ng-table="measurementsTable[type]" show-filter="false" class="table table-stripped table-hover">
				<tr ng-repeat="meas in $data">
					<td data-title="'ID'" sortable="'id'" filter="{ 'name': 'text' }">{{meas.id}}</td>
					<td data-title="'Value'" sortable="'value'" filter="{ 'href': 'text' }"><a href="#/measType/{{meas.type}}">{{meas.value}}</a></td>
					<td data-title="'Date'" sortable="'date'" filter="{ 'href': 'text' }">{{meas.date | date : 'dd.MM.yyyy hh:mm:sss'}}</td>
				</tr>
			</table>
			
		</div>
	</div>

</div>
