<h2>Sensor id: {{ sensorId }} measurements</h2>

<h3>CPU measurements</h3>
<canvas ng-if="data['CPU']" id="line-chart-cpu" class="chart chart-line" legend="true"
        data="data['CPU']" labels="labels['CPU']" series="series['CPU']">
</canvas>

<h3>MEMORY measurements</h3>
<canvas ng-if="data['MEMORY']" id="line-chart-memory" class="chart chart-line" legend="true"
        data="data['MEMORY']" labels="labels['MEMORY']" series="series['MEMORY']">
</canvas>

<h3>NETWORK upload measurements</h3>
<canvas ng-if="data['NETWORKUP']" id="line-chart-networkup" class="chart chart-line" legend="true"
        data="data['NETWORKUP']" labels="labels['NETWORKUP']" series="series['NETWORKUP']">
</canvas>

<h3>NETWORK download measurements</h3>
<canvas ng-if="data['NETWORKDOWN']" id="line-chart-networkdown" class="chart chart-line" legend="true"
        data="data['NETWORKDOWN']" labels="labels['NETWORKDOWN']" series="series['NETWORKDOWN']">
</canvas>
