<div class="page-header">
    <h1>Example Page Header</h1>      
</div>
  
<table ng-table="sensorTable" show-filter="false" class="table table-stripped table-hover">
	<tr ng-repeat="sensor in $data">
		<td data-title="'ID'" sortable="'id'" filter="{ 'id': 'text' }">{{sensor.id}}</td>
		<td data-title="'CPU Usage'" sortable="'cpuUsage'" filter="{ 'cpuUsage': 'text' }">{{sensor.cpuUsage}}%</td>
		<td data-title="'RAM Usage'" sortable="'ramUsage'" filter="{ 'ramUsage': 'text' }">{{sensor.ramUsage}} MB</td>
	</tr>
</table>
